body{ 
	width:100%;
	height:100%;
    background: -webkit-linear-gradient(0deg, #010527 0, #040A8C 100%);
    background: -moz-linear-gradient(90deg, #010527 0, #040A8C 100%);
    background: linear-gradient(90deg, #010527 0, #040A8C 100%);
	font-family: 'Abel', sans-serif;
}
.img_menu{
	
	
}
.centrar_img{	
	margin: 0 auto;
}
.user_img{
	width: 70px;
	 
}
.menu-lateral{
	background-color: #201D1D;
	
}

