
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}

html,body{ 
	width:100%;
	height:100%;
    background: -webkit-linear-gradient(0deg, #010527 0, #040A8C 100%);
    background: -moz-linear-gradient(90deg, #010527 0, #040A8C 100%);
    background: linear-gradient(90deg, #010527 0, #040A8C 100%);
	font-family: 'Abel', sans-serif;
}

html{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
canvas{
	display:block;
	vertical-align:bottom;
}
.count-particles{
	background: #000022;
	position: absolute;
	top: 48px;
	left: 0;
	width: 80px;
	color: #13E8E9;
	font-size: .8em;
	text-align: left;
	text-indent: 4px;
	line-height: 14px;
	padding-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	z-index: 1;
}
.js-count-particles{
	font-size: 1.1em;

}
#stats,
.count-particles{
	display: none;
	-webkit-user-select: none;
	margin-top: 5px;
	margin-left: 5px;
}
#stats{
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}
.count-particles{
	border-radius: 0 0 3px 3px;
}
.centrado{
  margin-left: auto;
  margin-right: auto;
}

/* ---- particles.js container ---- */
#particles-js{
	
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: #e52625;
	background-image: url('');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
  
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border: none;
	background: -webkit-linear-gradient(0deg, #010527 0, #040A8C 100%);
    background: -moz-linear-gradient(90deg, #010527 0, #040A8C 100%);
    background: linear-gradient(90deg, #010527 0, #040A8C 100%);
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
}
.login {
	position: relative;
	z-index: 100;
	margin-top: 180px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 12px;
	text-align: center;
	color: white;
	background: #0112A2;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border: 1px solid rgba(7, 26, 190,.9);
	-webkit-box-shadow: 0px 0px 46px 0px rgba(4,5,5,0.23);
	-moz-box-shadow: 0px 0px 46px 0px rgba(4,5,5,0.23);
	box-shadow: 0px 0px 46px 0px rgba(4,5,5,0.23);
}
.login span{
	font-size: 30px;
	letter-spacing: 0.23em;
	

}
.login img {
    padding: 10px 0px;
    margin: 0 auto;
}
.login form {
	width: 100%;
	font-family: 'Abel', sans-serif;
}
.login form input {
	width: 100%;
	margin-bottom: 10px;
	border: none;
	padding: 14px;
	background: #11195A;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	text-transform: uppercase;
	letter-spacing: .05em;
	font-size: 18px;
	text-align: center;
}

.login form input::-webkit-input-placeholder {
	color: rgba(255,255,255,.5);
}
.login input:focus, .login textarea:focus, .login keygen:focus, .login select:focus {
	outline-offset: 0px;
	outline: -webkit-focus-ring-color auto 0px;
	background: #336195;
}
.login form input[type="submit"] {
	margin-top: 10px;
	letter-spacing: 0.23em;
	font-size: 20px;
	color: rgba(255,255,255,.5);
	background: rgba(244,182,38,1);
	background: -moz-linear-gradient(top, rgba(244,182,38,1) 0%, rgba(225,136,27,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244,182,38,1)), color-stop(100%, rgba(225,136,27,1)));
	background: -webkit-linear-gradient(top, rgba(244,182,38,1) 0%, rgba(225,136,27,1) 100%);
	background: -o-linear-gradient(top, rgba(244,182,38,1) 0%, rgba(225,136,27,1) 100%);
	background: -ms-linear-gradient(top, rgba(244,182,38,1) 0%, rgba(225,136,27,1) 100%);
	background: linear-gradient(to bottom, rgba(244,182,38,1) 0%, rgba(225,136,27,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4b626', endColorstr='#e1881b', GradientType=0 );
	-webkit-box-shadow: 0px 0px 15px 0px rgba(4,5,5,0.23);
	-moz-box-shadow: 0px 0px 15px 0px rgba(4,5,5,0.23);
	box-shadow: 0px 0px 46px 0px rgba(4,5,5,0.23);
	transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
}
.login form input[type="submit"]:hover {
	color: white;
	text-shadow: 0px 2px 7px rgba(0,0,0,.25);
}
