	
 #Nevento span {
	display: inline-block;
	margin-bottom: 3px;
	padding: 5px 12px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #36a3d9;
	color: white;
 }
	   
.close2 {
  width: 12px;
  background: url('../images/chosen-sprite.png') -42px 1px no-repeat;
  cursor:hand;
  /*position: absolute;*/
  top: 2px;
  margin-right: -10px;
  margin-top: -3px;
  display: block;
  height: 12px;
  font-size: 1px;
  background-position: -42px -10px;
}

  .close2:hover {
  background-position: -42px -10px;
  }
	   
	/************ alertas bootstrap ***************/
	.alert2 {
		padding: 8px 10px 8px 14px;
		margin-bottom: 18px;
		color: #c09853;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		background-color: #fcf8e3;
		border: 1px solid #fbeed5;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	
	.alert-success2 {
		padding: 8px 10px 8px 14px;
		margin-bottom: 18px;
		color: #c09853;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		background-color: #fcf8e3;
		border: 1px solid #fbeed5;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	
		color: #468847;
		background-color: #dff0d8;
		border-color: #d6e9c6;
	}
	
	.alert-danger2 {
		padding: 8px 10px 8px 14px;
		margin-bottom: 18px;
		color: #c09853;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		background-color: #fcf8e3;
		border: 1px solid #fbeed5;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		
		color: #b94a48;
		background-color: #f2dede;
		border-color: #eed3d7;
	}
	
	.alert-warning2 {
		padding: 8px 10px 8px 14px;
		margin-bottom: 18px;
		color: #c09853;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		background-color: #fcf8e3;
		border: 1px solid #fbeed5;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		
		color: #9F6000;
		background-color: #FEEFB3;
		border-color: #eed3d7;
	}
	

	
	.alert-info2 {
		padding: 8px 10px 8px 14px;
		margin-bottom: 18px;
		color: #c09853;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		background-color: #fcf8e3;
		border: 1px solid #fbeed5;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	
		color: #3a87ad;
		background-color: #d9edf7;
		border-color: #bce8f1;
	}
	/* estilos burguer.css*/
/* Menu icon styles */

.menu-icon-wrapper {
	position: relative;
	float: right;
	display: inline-block;
    width: 34px;
    height: 34px;
	margin: .8em;
	pointer-events: none;
	transition: 0.1s;
}

.menu-icon-wrapper.scaled {
	-webkit-transform: scale(0.6);
	-ms-transform: scale(0.6);
	transform: scale(0.6);
}

.menu-icon-wrapper svg {
	position: absolute;
	top: -33px;
	left: -33px;
	-webkit-transform: scale(0.1);
	-ms-transform: scale(0.1);
	transform: scale(0.1);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

.menu-icon-wrapper svg path {
	stroke: #fff;
	stroke-width: 60px;
	stroke-linecap: round;
    stroke-linejoin: round;
	fill: transparent;
}

.menu-icon-wrapper .menu-icon-trigger {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	pointer-events: auto;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.menu-icon-wrapper .menu-icon-trigger:hover,
.menu-icon-wrapper .menu-icon-trigger:focus {
	outline: none;
}

	/* Estilos PARA EVENTOS --- webapp.css*/
	.btn2 {
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
}
/* =============================================================================
   Navbar & Bootstrap Overwrite
   ========================================================================== */
.navbar {
	text-transform: uppercase;
}
.navbar-default {
	background-color: #1c1c1c;
	border-color: #0d0d0d;
	font-family: 'Abel', sans-serif !important;
    /*background-color: #e52625;
    border: none;*/
}
.navbar-brand {
    padding: 14px 15px;
}
.navbar-default .navbar-nav>li>a {
    color: white;
	font-weight: 400;
	letter-spacing: 0.09em;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	padding: 15px 20px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: #e52724; /*rgba(0,0,0,.75)*/
	opacity: 1;
}  
.col-centered{
    float: none;
    margin: 0 auto;
}
	/* =============================================================================
   Bloque Info
   ========================================================================== */
.bloque-info {
	position: relative;
	margin-bottom: 30px;
	padding: 20px;
	background: white;
	-webkit-box-shadow: 0px 0px 15px -8px black;
	-moz-box-shadow:    0px 0px 15px -8px black;
	box-shadow:         0px 0px 15px -8px black;
}
.bloque-info-header img {
	height: 50px;
	max-height: 50px;
}
.bloque-info-header .avatar {
	display: inline-block;
	margin-right: 10px;
}
.bloque-info-header .avatar img {
	height: 50px;
	max-height: 50px;
	width: 50px;
	max-width: 50px;
	border-radius: 50px;
}
.bloque-info-header .hijo {
	display: inline-block;
	vertical-align: top;
}
.bloque-info-header .hijo h4 {
	padding-top: 7px;
	font-weight: 500;
}
.bloque-info-header .hijo p {
	display: inline-block;
	margin: 0;
}
.bloque-info-header .hijo p span {
	font-size: .875em;
	font-weight: 400;
}
.bloque-info-header .hijo p span.hora {
	color: #1a1a1a;
}
.bloque-info-header .hijo p span.fecha {
	color: #808080;
}
.bloque-info-header .hijo p.enviado-por {
	display: block;
	margin-top: 5px;
	text-transform: uppercase;
	font-size: 10px;
	font-style: italic;
	color: grey;
}
.bloque-info-header .hijo p.enviado-por span {
	font-size: 1em;
}
.bloque-info-header .hijo p.enviado-por i {
	display: inline-block;
	margin-right: 3px;
}



.bloque-info-main {
	padding: 10px 0;
}
.bloque-info-main img {
	margin-top: 20px;
}
.bloque-info-main h4 {
	display: block;
	font-size: 17px;
	margin-bottom: 10px;
}


.bloque-info-footer a {
	font-size: 1.4em;
	color: #c7c7c7;
	cursor: pointer !important;
	transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
}
.bloque-info-footer a:hover, .bloque-info-footer a:focus {
	color: #e57573;
}
.bloque-info-footer a.like {
	color: #d9534f;
}


.bloque-fecha {
	background: #059bec;
	margin-bottom: 30px;
	padding: 12px 0;
	-webkit-box-shadow: 0px 0px 15px -8px black;
	-moz-box-shadow:    0px 0px 15px -8px black;
	box-shadow:         0px 0px 15px -8px black;
	font-weight: 300;
}
.bloque-fecha p {
	display: block;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: .1em;
	color: white;
	font-size: .9em;
}





/* =============================================================================
   Permiso
   ========================================================================== */
.permiso {
    width: 100%;
	position: relative;
	margin-top: 15px;
    padding: 12px;
	background: #f5f5f5;
    font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
}
.modal-permiso {
	position: absolute;
	top: 0;
	left: 0;
	z-index:999;
	width: 100% !important;
	height: 100% !important;
	background: rgba(0,0,0,.9);
	padding: 0 20px;
	display: none;
}
.modal-permiso .row {
	position: absolute;
	padding: 0;
	width: 100%;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);	
}
.permiso a.editar-permiso {
	display: inline-block;
	width: 46px;
	height: 46px;
	padding-left: 4px;
	line-height: 46px;
	position: absolute;
	top: 0;
	right: 0;
	background: #ebebeb;
	font-size: 21px;
	text-align: center;
	color: #b8b8b8;
	cursor: pointer !important;
	transition: all 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-webkit-transition: all 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-moz-transition: all 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-o-transition: all 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.permiso a.editar-permiso:hover, .permiso a.editar-permiso:focus {
	background: #b8b8b8;
	color: white;
}
.permiso p {
	display: inline-block;
	margin: 0;
}
.permiso span {
	display: inline-block;
	margin-left: 10px;
}
.permiso.aceptado {
	color: #449d44;
}
.permiso.declinado {
	color: #c9302c;
}

/**************************************************************************************
XS - Mobile
***************************************************************************************/
/*mobile*/
@media (max-width: 767px) {

	.navbar-default .navbar-toggle {
	    border-color: white;
	}
	.navbar-brand {
	    padding-top: 18px;
	}
	.navbar-default .navbar-toggle .icon-bar {
	    background-color: white;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	    background-color: rgba(0,0,0,.2);
	}
	.navbar-nav {
	    margin: 0px -15px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    border-color: rgba(0,0,0,.2);
	}
	.bloque-info {
	    padding: 15px;
	}
	.bloque-info-header img {
		height: 30px;
		max-height: 30px;
	}
	.bloque-info-header .hijo h4 {
		padding-top: 2px;
		font-size: 1em;
	}
	.bloque-info-header p {
		font-size: .77em;
	}

}


/****BTN PRIMARY****/
.btn2 {
  border-radius: 3px;
}
.float-e-margins .btn2 {
  margin-bottom: 5px;
}
.btn-primary2.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

.btn-primary2 {
  background-color: #e52724;
  border-color: #e52724;
  color: #FFFFFF;
}
.btn-primary2:hover,
.btn-primary2:focus,
.btn-primary2:active,
.btn-primary2.active,
.open .dropdown-toggle.btn-primary2,
.btn-primary2:active:focus,
.btn-primary2:active:hover,
.btn-primary2.active:hover,
.btn-primary2.active:focus {
 /*cambio*/
   background-color: #a61d1b;
  border-color: #a61d1b;
  color: #FFFFFF;
}
.btn-primary2:active,
.btn-primary2.active,
.open .dropdown-toggle.btn-primary2 {
  background-image: none;
}
.btn-primary2.disabled,
.btn-primary2.disabled:hover,
.btn-primary2.disabled:focus,
.btn-primary2.disabled:active,
.btn-primary2.disabled.active,
.btn-primary2[disabled],
.btn-primary2[disabled]:hover,
.btn-primary2[disabled]:focus,
.btn-primary2[disabled]:active,
.btn-primary2.active[disabled],
fieldset[disabled] .btn-primary2,
fieldset[disabled] .btn-primary2:hover,
fieldset[disabled] .btn-primary2:focus,
fieldset[disabled] .btn-primary2:active,
fieldset[disabled] .btn-primary2.active {
  background-color: #1dc5a3;
  border-color: #1dc5a3;
}
