/*
Client: NODOS
Autor: sietedefebrero.com
*/
/**************************************************************************************
Defaults
***************************************************************************************/
body {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}
* {
	outline: none !important;
}
p {
	font-size: 17px;
	letter-spacing: .033em;
	margin: 0 0 20px;
	font-weight: 300;
}
a:hover, a:focus {
	text-decoration: none;
}
ol, ul {
	margin: 0;
	padding: 0;
}
li	{
	list-style: none;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-family: 'Abel', sans-serif;
	text-transform: uppercase;
	letter-spacing: .06em;
	font-size: 16px;
}
/**************************************************************************************
Bootstrap Overwrites
***************************************************************************************/
.h1, .h2, .h3, .h4, .h6, h1, h2, h3, h4, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
}
.navbar {
	font-family: 'Abel', sans-serif;
	text-transform: uppercase;
}
.navbar-default {
    background-color: #1c1c1c;
    border: none;
}
.navbar-brand {
    padding: 12px 15px;
}
.navbar-default .navbar-nav>li>a {
    color: white;
	letter-spacing: 0.09em;
	opacity: .7;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
	opacity: 1;
}
.navbar-default .navbar-nav>li>a.ingresar {
	background: #e52625;
	margin-top: 0px;
	margin-left: 0px;
	border-left: solid 1px rgb(28,28,28);
}
hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #444;
	opacity: .5;
}
/**************************************************************************************
Custom Classes
***************************************************************************************/
/* Start of "Micro clearfix" */
.cf { zoom: 1; }
.cf:before,
.cf:after { content: ""; display: table; }
.cf:after { clear: both; }
/* End of "Micro clearfix" */
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.npl	{
	margin-top: 0 !important;
	margin-bottom: 15px !important;
    padding-left: 0 !important;
}
.npr	{
	margin-top: 0 !important;
	margin-bottom: 15px !important;
    padding-right: 0 !important;
}
.npb	{
	margin-top: 0 !important;
	margin-bottom: 0px !important;
    padding-right: 0 !important;
}
.noleft	{
	padding-left: 0 !important;
}
.noright	{
	padding-right: 0 !important;
}
.vspace	{
	margin-top:15px;
}
.vspace2	{
	margin-top:30px;
}
.vspace3	{
	margin-top:45px;
}
.vspace4	{
	margin-top:60px;
}
.vspace5	{
	margin-top:75px;
}
.vspace6	{
	margin-top:90px;
}
.vspace7	{
	margin-top:105px;
}
.vspace8	{
	margin-top:120px;
}
.vspace10	{
	margin-top:10px;
}
.imgfull	{
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}
.imgfull75	{
	width: 75%;
	min-width: 75%;
	max-width: 75%;
}
.center	{
	text-align: center;
}
.tright {
	text-align: right;
}
.ib {
	display: inline-block;
}
.mrgbtm {
	margin-bottom: 30px;
}
.mrgbtm2 {
	margin-bottom: 60px;
}
.mrgbtm3 {
	margin-bottom: 75px;
}
.mrgbtm4 {
	margin-bottom: 80px;
}
.mrgbtm5 {
	margin-bottom: 90px;
}
.mrgbtm6 {
	margin-bottom: 100px;
}
.white {
	color: white;
}
::-webkit-scrollbar {
    width: 6px;
    background: #1c1c1c;
}
 
::-webkit-scrollbar-thumb {
    background: rgba(229,37,37,0.5);
    cursor: pointer;
}
 
::-webkit-scrollbar-thumb:hover {
    background: rgba(229,37,37,1);
    cursor: pointer;
}
/**************************************************************************************
Index
***************************************************************************************/
.red-gradient {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: url(i/poly-pattern.png), -webkit-linear-gradient(0deg, #861818 0, #e52625 100%);
  background: url(i/poly-pattern.png), -moz-linear-gradient(90deg, #861818 0, #e52625 100%);
  background: url(i/poly-pattern.png), linear-gradient(90deg, #861818 0, #e52625 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 300px 300px, auto auto;
  background-size: 300px 300px, auto auto;
  padding-top: 51px;
}
#Features {
	position: relative;
	padding-top: 80px;
	overflow: hidden;
	margin-top: -1px;
}
.intro {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 650px;
	background: url(i/foto-head.jpg) no-repeat center -60px; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100%;
	clip-path: polygon(0 0, 100% 0, 100% 36%, 0% 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 36%, 0% 100%);
}
.intro-nodos {
	padding-bottom: 60px;
}
.iso {
	max-height: 64px;
	margin-right: 25px;
}
.logo {
	max-height: 64px;
}
.intro-marca {
	padding-top: 100px;
}
.intro-marca h1 {
	display: block;
	padding-top: 15px;
	font-family: 'Abel', sans-serif;
	text-transform: uppercase;
	color: white;
	font-size: 45px;
}
.google-badge {
	padding-top: 90px;
	max-width: 160px;
	opacity: .25;
}
.intro-caracteristicas {
	padding-top: 30px;
	color: white;
}
.intro-caracteristicas h5, .beneficios h5 {
	color: #f5af8c;
}

.banda-blanca {
    padding-top: 390px;
    padding-bottom: 450px;
	background: url(i/banda-blanca.png) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100%;
}
.banda-blanca h5, .precio h5 {
	color: #e52625;
}
.divisor {
	margin-top: -100px;
	background: url(i/pricing-bg.png) no-repeat center bottom;
	background-size: 100%;
	height: 450px;
}
.beneficios {
	padding-top: 30px;
	background: url(i/smartphone-beneficios.png) no-repeat left center;
	background-size: 255px;
}
.beneficios h2 {
	color: white;
}
.beneficios h4 {
	font-family: 'Abel', sans-serif;
	color: white;
	margin-top: 0;
	font-size: 24px;
	text-transform: uppercase;
}
.beneficios p {
	color: white;
}
.precio {
	padding-top: 30px;
	background: white;
}
.precio ul li {
	display: inline-block;
	padding: 20px;
	font-weight: 500;
	letter-spacing: .05em;
	font-size: 16px;
}

/* -------------------- Subscription section -------------------- */
.precio form input {
	background: #fff;
	border: 1px solid #e52625;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	color: rgba(0,0,0,.87);
	display: inline-block;
	font-family: inherit;
	font-size: 16px;
	height: 48px;
	padding: 10px 15px;
	width: 100%;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all.4s;
	-moz-transition: all.4s;
	-ms-transition: all.4s;
	-o-transition: all.4s;
	transition: all.4s;
}
.precio form input[type="submit"] {
	border: 1px solid #b31d1d;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	font-family: inherit;
	font-size: 16px;
	height: 48px;
	padding: 10px 15px;
	width: 100%;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all.2s;
	-moz-transition: all.2s;
	-ms-transition: all.2s;
	-o-transition: all.2s;
	transition: all.2s;
	background: #b31d1d;
	color: white !important;
}

.precio form input[type="button"] {/*Agregado por Sebastian*/
	border: 1px solid #b31d1d;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	font-family: inherit;
	font-size: 16px;
	height: 48px;
	padding: 10px 15px;
	width: 100%;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all.2s;
	-moz-transition: all.2s;
	-ms-transition: all.2s;
	-o-transition: all.2s;
	transition: all.2s;
	background: #b31d1d;
	color: white !important;
}

.precio form input:hover[type="submit"] {
	background: #e52625;
	border: 1px solid #e52625;
}
.setenta {
	display: inline-block;
	width: 70%;
}
.treinta {
	display: inline-block;
	width: 25%;
}




/* -------------------- Footer -------------------- */
footer {
	background: white;
	text-transform: uppercase;
	padding-top: 150px;
	padding-bottom: 30px;
}
footer p, footer a {
	font-size: 12px;
	color: #666666;
	padding-top: 5px;
	letter-spacing: .06em;
	transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
}
footer a:hover, footer a:focus {
	color: #e52625;
}
/**************************************************************************************
QUERIES   QUERIES   QUERIES   QUERIES   QUERIES   QUERIES   QUERIES   QUERIES   QUERIES
QUERIES   QUERIES   QUERIES   QUERIES   QUERIES   QUERIES   QUERIES   QUERIES   QUERIES
QUERIES   QUERIES   QUERIES   QUERIES   QUERIES   QUERIES   QUERIES   QUERIES   QUERIES
QUERIES   QUERIES   QUERIES   QUERIES   QUERIES   QUERIES   QUERIES   QUERIES   QUERIES
QUERIES   QUERIES   QUERIES   QUERIES   QUERIES   QUERIES   QUERIES   QUERIES   QUERIES   
***************************************************************************************/

/**************************************************************************************
MD - Medium devices (desktops, 992px and up)
***************************************************************************************/
/*desktops small*/
@media (max-width: 1200px) {
	.banda-blanca {
	    padding-top: 350px;
		padding-bottom: 450px;
	}
	#Features {
	    padding-top: 30px;
	}
	.intro {
		clip-path: polygon(0 0, 100% 0, 100% 36%, 0% 80%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 36%, 0% 80%);
	}
	.intro-marca {
		padding-top: 30px;
	}
	.google-badge {
	    padding-top: 30px;
	}
	footer {
	    padding-top: 90px;
	    padding-bottom: 30px;
	}
}
/**************************************************************************************
SM - Tablet Portrait 1
***************************************************************************************/
/*tablet*/

@media (max-width: 1050px) {
	.banda-blanca {
	    padding-top: 270px;
		padding-bottom: 300px;
	}
}


/**************************************************************************************
SM - Tablet Portrait 2
***************************************************************************************/
/*tablet*/
@media (max-width: 992px) {
	.banda-blanca {
	    padding-top: 170px;
		padding-bottom: 200px;
	}
	.intro {
		height: 830px;
		background-position: center 0px; 
		clip-path: polygon(0 0, 100% 0, 100% 36%, 0% 60%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 36%, 0% 60%);
	}
	.google-badge {
	    padding-top: 12px;
	    max-width: 160px;
	    opacity: .25;
	}
	
	
}
/**************************************************************************************
XS - Mobile
***************************************************************************************/
/*mobile*/
@media (max-width: 767px) {
	h2 {
	    font-size: 32px;
	}
	.navbar-default .navbar-nav>li>a.ingresar {
	    border-radius: 0px;
	    padding: 10px;
	    margin-top: 1px;
	    margin-left: 0;
	}
	.navbar-nav {
	    margin: 0px -15px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    border-color: black;
	}
	.navbar-nav>li>a {
	    padding-top: 16px;
	    padding-bottom: 16px;
	    line-height: 20px;
	}
	.navbar-default .navbar-toggle .icon-bar {
	    background-color: white;
	}
	.navbar-default .navbar-toggle {
	    border: none;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	    background-color: #e52625;
	}
	.intro {
		height: 400px;
		background: url(i/foto-head-xs.jpg) no-repeat center -20px; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: 100%;
		clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 80%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 80%);		
	}
	.intro-marca h1 {
	    padding-top: 180px;
	    padding-bottom: 20px;
	    font-size: 34px;
	}
	.beneficios {
		background-image: none;
	}
	.banda-blanca {
	    padding-top: 60px;
	    padding-bottom: 60px;
		background-image: none;
		background-color: white;
		margin: 45px 0;
	}
	.divisor {
	    height: 220px;
	}
	.precio {
	    padding-top: 20px;
	}
	
	footer {
		padding-bottom: 0px;
	}
	
}
