
<style type="text/css">

.dragandrophandler
{
  border:3px dashed #0B85A1;
  /*width:400px;*/
  height: auto;
  color:#92AAB0;
  text-align:left;vertical-align:middle;
  padding:10px 10px 10 10px;
  margin-bottom:10px;
  font-size:100%;
}

.namefile {
    display: inline-block;
    overflow: hidden;
    padding: 3px 0;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
    max-width: 315px;
    color: #15c;
}

.itemfile {
    background-color: #f5f5f5;
    border: 1px solid #dcdcdc;
    font-weight: bold;
    margin: 0 7px 9px;
    overflow-y: hidden;
    padding: 4px 4px 4px 8px;
    max-width: 448px;
    font-size: 13px;
}

.sizefile {
    color: #777;
    display: inline-block;
    padding: 3px 0;
}


</style>

<script>

var edita_files = 0;

function subirarchivo(data, name, alta='A')
{
    edita_files = 1;

    var urlRequest = urlApi+"/upload/upload_file";
    $.ajax({
        url: urlRequest,
        type: 'POST',
        headers: {
               'APIKEY' : passApiKey,
               'userid' : idUser,
               'Access-Control-Allow-Origin': '*'
        },
        data: data,
        cache: false,
        processData: false, // Don't process the files
        contentType: false, // Set content type to false as jQuery will tell the server its a query string request
        beforeSend: function() {
            if(alta == 'D')
              var li = $('#listarchivosD :contains("'+name+'")').parent('div').parent('li');
            else
              var li = $('#listarchivos :contains("'+name+'")').parent('div').parent('li');
              

            $(li).find('.sizefile').after("<img id='loadingUP' src='<?=base_url('assets/images/loading.gif');?>' height='15' width='15' />");
        },
        success: function(data, textStatus, jqXHR)
        {
            //console.log(data);
            var data = jQuery.parseJSON( data );
            if(data['error'])
            {

                $.notify(data['error'], "danger");


                if(alta == 'D')
                  var li = $('#listarchivosD :contains("'+data['nombre']+'")').parent('div').parent('li');
                else
                  var li = $('#listarchivos :contains("'+data['nombre']+'")').parent('div').parent('li');
                  

                $(li).remove();

            }
            else{

                data = data['files'];

                for(var i=0; i < data.length; i++) //aca coloco id de archivo al li. y agrego tilde suces
                {
                    //console.log(data[i]['nombre']);
                    if(alta == 'D')
                      var li = $('#listarchivosD :contains("'+data[i]['nombre']+'")').parent('div').parent('li');
                    else
                      var li = $('#listarchivos :contains("'+data[i]['nombre']+'")').parent('div').parent('li');
                      

                    //console.log(li);
                    $(li).attr('id', data[i]['id']);

                    var tilde = '<img src="<?php echo base_url('assets/images/tildeve2.png'); ?>" alt="Se adjunto correctamente" height="20" width="20">';

                    $(li).find('#loadingUP').remove();

                    $(li).find('.sizefile').append(tilde);

                    delete_files(data[i]['id']);
                }
            }


        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            // Handle errors here
            console.log('ERRORS: ' + textStatus);
            // STOP LOADING SPINNER
            $('#loadingUP').remove();
        }
    });
}

var cantArchivos=5;
var sizeArchivo=20; //MB

function delete_files(id, idevento=0)
{

  //if(alta='A')
    $('#'+id+' .close').click(function(e){
        e.stopPropagation();
        e.preventDefault();

          //console.log('delete');
          edita_files = 1;

          var li = $(this).parent('div').parent('li');
          var idfile = $(li).attr('id');

          $(li).remove();
          var urlRequest = urlApi+"/upload/delete_file";


          if(!$(li).hasClass("old")) {

              $.ajax({
                      url: urlRequest,
                      type: 'POST',
                      headers: {
                      'APIKEY' : passApiKey,
                      'userid' : idUser
                    },
                    data:{idfile:idfile, idevento:idevento},
                    success: function(data){
                      if(data['status']==false)
                      {
                        //console.log(data['message']);
                        if(data['message']=='NO LOGUIN')
                          location.href = "<?php echo base_url('login'); ?>"; //no està logueado
                        //terminadoP4(1); terminadoP4(2); terminadoP4(3);
                      }
                      else
                      $.notify("Archivo Eliminado", "success");


                  },
                  error: function(response){
                      console.log(response);
                  }
              });
          }
    });
  //else

}


//boton examinar
function prepareUpload(event, alta='A')
{
    event.stopPropagation(); // Stop stuff happening
    event.preventDefault(); // Totally stop stuff happening

    //console.log('prepareUpload');

    var ecxedesize=0;

    files = event.target.files;  //esta lina es la unica diferencia con el prepareUpload2

    $.each(files, function(key, value)
    {
        var data = new FormData();
        data.append(key, value);

        var size = value.size;
        if( size > 1024)
        {
            var temp = size/1024;
            //temp = number_format(temp, 2, '.', '');
            if (temp > 1024)
            {
                size = (temp/1024).toFixed(2)+" MB";
                if( (temp/1024).toFixed(2) > sizeArchivo )
                    ecxedesize=1;
            }
            else
                size = temp.toFixed(2)+" KB";
        }
        else
            size = size.toFixed(2)+" Bytes";

        if(alta=='D')
          var cantActual=$("#listarchivosD li").size();
        else
          var cantActual=$("#listarchivos li").size();
                  

        var name = value.name;
        name = name.replace(new RegExp(' ', 'g'), "_");


        if(cantActual < cantArchivos)
        {
          if(ecxedesize==0)
          {
            //alert(value.name); alert(alta);
            if(alta=='D')
              var li = $('#listarchivosD :contains("'+name+'")').parent('div').parent('li');
            else
              var li = $('#listarchivos :contains("'+name+'")').parent('div').parent('li');
            
            if(alta=='R') //R reenviar
                var clase = 'new';
            else var clase = '';


            if(li.length == 0)
            {
                var li = '<li class="'+clase+'"> <div class="itemfile"><div class="namefile">'+name +'</div> <div class="sizefile"> &nbsp;&nbsp;&nbsp;  ('+size+') </div>'+
                                '<button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>'+
                          '</div></li>';

                if(alta=='D')
                  $('#listarchivosD').append(li);
                else
                  $('#listarchivos').append(li);
                                  

                //delete_files(alta);

                subirarchivo(data, name, alta);
            }else

              $.notify("El archivo ya fue añadido", "warn");


          }
          else

              $.notify("No puede superar los "+sizeArchivo+" MB", "warn");

        }
        else

              $.notify("Alcanzó el límite de arhivos", "warn");


    });

}

//drag and drop
function prepareUpload2(files, alta='A')
{   //console.log('prepareUpload2');

    var ecxedesize=0;

    $.each(files, function(key, value)
    {
        var data = new FormData();
        data.append(key, value);

        var size = value.size;
        if( size > 1024)
        {
            var temp = size/1024;
            //temp = number_format(temp, 2, '.', '');
            if (temp > 1024)
            {
                size = (temp/1024).toFixed(2)+" MB";
                if( (temp/1024).toFixed(2) > sizeArchivo )
                    ecxedesize=1;
            }
            else
                size = temp.toFixed(2)+" KB";
        }
        else
            size = size.toFixed(2)+" Bytes";

        if(alta=='A')
          var cantActual=$("#listarchivos li").size();
        else
          var cantActual=$("#listarchivosD li").size();

        var name = value.name;
        name = name.replace(new RegExp(' ', 'g'), "_");

        if(cantActual < cantArchivos)
        {
          if(ecxedesize==0)
          {
            if(alta=='A')
              var li = $('#listarchivos :contains("'+name+'")').parent('div').parent('li');
            else
              var li = $('#listarchivosD :contains("'+name+'")').parent('div').parent('li');


            if( li.length == 0 )
            {
                var li = '<li> <div class="itemfile"><div class="namefile">'+name +'</div> <div class="sizefile"> &nbsp;&nbsp;&nbsp;  ('+size+') </div>'+
                                '<button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>'+
                          '</div></li>';
                if(alta=='A')
                  $('#listarchivos').append(li);
                else
                  $('#listarchivosD').append(li);

                //delete_files(alta);

                subirarchivo(data, name, alta);
            }
            else

              $.notify("El archivo ya fue añadido", "warning");


          }
          else

              $.notify("no puede superar los "+sizeArchivo+" MB", "warning");

        }
        else

              $.notify("Alcanzó el límite de arhivos", "warning");


    });

}

function listar_archivos(idevento, solomostrar=0, alta='A') //2do parametro indica que puedo o no borrar un archivo. el tercero para diferenciar si viene por un formulario de alta o de una modificacion
{
      var url = '<?=base_url("/index.php/eventos/get_eventofiles_ajax")?>';

      var texto='';

      $.ajax({
            url: url,
            type: 'GET',
            headers: {
                'Access-Control-Allow-Origin': '*'
            },
            data:{idevento:idevento},
            //async: false,
            success: function(data){
            //console.log('colegio: '+idcolegio+' nombre_grupo: '+nombregrupo);

              var data = jQuery.parseJSON( data );
              //console.log(data);
              if(data['status']==false)
              {
                //console.log(data['message']);
                if(data['message']=='NO LOGUIN')
                  location.href = "<?php echo base_url('login'); ?>"; //no està logueado
                //terminadoP4(1); terminadoP4(2); terminadoP4(3);
              }
              else
              {
                //var data = jQuery.parseJSON( data );
                //console.log(data);

                for(var i=0; i < data['files'].length ; i++) //aca solo listo niveles y especialidades
                {
                    var nombre = data['files'][i]['nombre'];
                    var size = data['files'][i]['size'];
                    var idfile = data['files'][i]['id'];


                    var url = data['files'][i]['url'];


                    //texto = texto + "<li>  <a  class='glyphicon glyphicon-circle-arrow-down' href='"+url+"' download> "+ nombre +" </a> </li>"  ;

                    if(alta=='R') //R reenviar
                      var clase = 'old';
                    else var clase = '';

                    if(solomostrar==0)
                    {
                      var li = '<li id="'+idfile+'" class="'+clase+'"> <div class="itemfile"><div class="namefile"><a  class="glyphicon glyphicon-circle-arrow-down" href="'+url+'" download> '+ nombre +' </a></div> <div class="sizefile"> &nbsp;&nbsp;&nbsp;  ('+size+') </div>'+
                                '<button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>'+
                          '</div></li>';
                    }
                    else
                      {
                        var li = '<li id="'+idfile+'" class="'+clase+'"> <div class="itemfile"><div class="namefile"><a  class="glyphicon glyphicon-circle-arrow-down" href="'+url+'" download> '+ nombre +' </a></div> <div class="sizefile"> &nbsp;&nbsp;&nbsp;  ('+size+') </div>'+
                          '</div></li>';
                      }


                    if(alta=='D')
                      $('#listarchivosD').append(li);
                    else
                      $('#listarchivos').append(li);

                    delete_files(idfile,idevento);
                }


             }
          },
          error: function(response){
              console.log(response);
          }
      });

    return texto;
}


function draganddropUpload(alta='A') //alta o edit
{
    if(alta == 'A')
    {
      //var obj = $("#dragupload");
       var obj = $(".modal-content").find('[id="dragupload"]');
    }
    else
    {
      //var obj = $("#draguploadD");
      //onsole.log(obj);
      var obj = $(".modal-content").find('[id="draguploadD"]');
      //console.log(obj);
    }

    obj.on('dragenter', function (e)
    {
        e.stopPropagation();
        e.preventDefault();
        //$(this).add('border', '4px solid #0B85A1');
        if(siguiente==0)
          $(this).addClass('dragandrophandler');
    });
    obj.on('dragover', function (e)
    {
         e.stopPropagation();
         e.preventDefault();
    });
    obj.on('drop', function (e)
    {

        e.stopPropagation();
        e.preventDefault();
        if(siguiente==0)
        {
          $(this).removeClass('dragandrophandler');
          var files = e.originalEvent.dataTransfer.files;
          //We need to send dropped files to Server
          prepareUpload2(files, alta);
        }

    });



    $(document).on('dragenter', function (e)
    {
        e.stopPropagation();
        e.preventDefault();
    });
    $(document).on('dragover', function (e)
    {
      e.stopPropagation();
      e.preventDefault();

      if(alta == 'A'){
        //$("#dragupload").removeClass('dragandrophandler');
        var aux = $(".modal-content").find('[id="dragupload"]');
        $(aux).removeClass('dragandrophandler');
      }
      else
      {
        var aux = $(".modal-content").find('[id="draguploadD"]');
        $(aux).removeClass('dragandrophandler');
      }

    });
    $(document).on('drop', function (e)
    {
        e.stopPropagation();
        e.preventDefault();
    });

}

</script>

